@font-face {
    font-family: miniver;
    src: url(./media/Miniver-Regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    cursor:crosshair
}
html,
body{
    height:100%;
    width:100%;
}

#main{
    scroll-snap-type: y mandatory;
    background-color: #000;
}

/* section 1 */

#page1{
    height:100vh;
    width:100vw;
    scroll-snap-align: start;
    background-color: #000000;
    color:#fff;
}

/* navbar */

#nav{
    height:8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 600;
}

/* logo */

.logo{
    font-size: 1.5rem;
    font-family: miniver;
}

.logo>span{
    color:red;
    font-family: miniver;
}

/* links in nav */

.links>a{
    margin:0vh 5vh;
    text-decoration: none;
    color:#ffffff;
    position: relative;
    text-transform: uppercase;
    cursor:pointer;
    padding:3px;
}
.links>a:before{
    content: "";
    position:absolute;
    bottom:-3px;
    left:0;
    height:3px;
    width:100%;
    transition:0.3s;
    transform: scaleX(0);
    background-color: #fff;

}
.links>a:hover:before{
    transform: scaleX(1);
}
/* button in nav */


.button>a>button{
    height: 5vh;
    width: 7vw;
    border:3px solid red;
    border-radius: 20px;
    background: transparent;
    color:#fff;
}



/* hero section */

.hero{
    height:92vh;
    background-image: url('./media/profile.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 75vh;
    display:flex;
    position:relative;
}

/* hero section text */

.hero-left{
    height:100%;
    width:50%;
    position:relative;
    top:50%;
    left:5%;
    line-height: 6vh;
}

.hero-left>h4{
    font-weight: 600;
    text-transform: uppercase;
    color:red;
}
.hero-left>h3{
    font-size: 1.5rem;
}
.hero-left>h1{
    text-transform: uppercase;
    -webkit-text-stroke: 2px red;
    color:transparent;
    font-size: 3rem;
}
.hero-left>h2{
    letter-spacing: -2px;
}

/* contact in hero section */

.contact{
    height:20vh;
    width: 40vw;
    /* margin-top: 10vh; */
    display:flex;
    align-items: end;
}
.contact>h4>a{
    font-weight: 100;
    opacity:50%;
    text-decoration: none;
    color:#fff;
}

.contact>h4>a:hover{
    opacity:100%;
    cursor:crosshair
}

/* hero paragraph */

.hero-right{
    height:100%;
    width: 50%;
    position:relative;
}
.hero-right>p>span{
    text-transform: uppercase;
    color:red;
}

.hero-right>p{
    color:rgb(255, 255, 255);
    position: relative;
    font-size: 1.2rem;
    letter-spacing: -1px;
    top:60%;
    left:30%;
    width:30vw
}

/* icons on right */

#icons{
    position:absolute;
    top:10%;
    right:1.5%;
    height:30vh;
    width:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#icons>a{
    text-decoration: none;
    color:#464646b2;
    font-size: 2rem;
}
#icons>a:hover{
    color:#f1f1f1;
    z-index: 2;
    scale:1.2;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}

/* about me section page no 2 */

#page2{
    height:100vh;
    width:100vw;
    background-color: rgb(0, 0, 0);
    scroll-snap-align: start;
}

/* top part of about me section */

.top2{
    height: 60vh;
    width: 100vw;
    /* background-color: yellow; */
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

/* profile-photo in about section */

.profile-photo{
    height:80%;
    width: 23%;
    border-radius: 50%;
    /* background-color: red; */
    border:5px solid #ff0000;
    background: url('./media/profilewithbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* paragraph of about me section */

.para{
    height:90%;
    width:65%;
    /* background-color: crimson; */
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding: 0px 30px;
    color:#fff;
    font-size: 1.2rem;
}

.para>h1{
    text-transform: uppercase;
    text-shadow: 1px 1px #ff0000;
}

/* CV button */

.cv>a>button{
    border:none;
    height:8vh;
    width:10vw;
    border-radius: 10px;
    background-color: crimson;
    color:#fff;
    font-weight: 600;
    font-size: 1.1rem;
}
.cv>a>button:hover{
    box-shadow: 1px 1px 5px 1px rgb(255, 255, 255);

}


/* bottom section of page 2 */

.btm2{
    height: 40vh;
    width: 100vw;
    /* background-color: blue; */
    display:flex;
    align-items: center;
    justify-content: center;
}

/* boxes in btm of section 2 */

.gg{
    height:75%;
    width:30%;
    border-radius: 20px;
    border:3px solid #fff;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 1px 5px 1px red;
    margin: 0px 10px;
}

.gg>img{
    height:50%;
    width:auto;
}




/* services offering page */

#page3{
    height:100vh;
    width:100vw;
    background-color: #000000;
    scroll-snap-align: start;
    display:flex;
    flex-direction: column;
    color:#ffffff;
}

/* service heading */

.head3{
    width: 100vw;
    height: 20vh;
    font-size: 4rem;
    font-weight: 600;
    color:#fff;
    text-transform: uppercase;
    display: flex;
    align-items: end;
    margin-top: 10vh;
    justify-content: center;
    text-shadow: 1px 2px #ff0000;
}

/* top section of page 3 */

.top3{
    height: 30vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}


/* bottom section of page 3 */

.btm3{
    height: 30vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

/* boxes in section 3 top and bottom sections */

.box3{
    height:75%;
    width:40%;
    border:4px solid #ffffff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px 1px red;
    justify-content: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
}

/* footer */

#page4{
    height:30vh;
    width:100vw;
    background:linear-gradient(to bottom , black,rgb(27, 26, 26),rgb(37, 25, 25),rgb(58, 28, 28),rgb(43, 8, 8));
    scroll-snap-align: start;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
#page4>h3{
    color:#ffffff;
    margin-top: 5vh;
    opacity:70%;
}

#footer-icons>a,#footer-icons{
    margin-bottom: 5vh;
    font-size: 3rem;
    text-decoration: none;
    color:#dfdfdf;
    text-shadow: 1px 1px #ff0000;
    padding:10px;
}

#footer-icons>a>i:hover{
    scale: 1.5;
    color:#f1f1f1;
    text-shadow: 1px 1px #000000;
    transition:0.3s;

}









@media (max-width : 1000px) {
        #main{
            display:none;
            
        }
        body{
            background-color: #000;
        }
}